*{
  margin: 0px;
}
body{
  background: black;
}

header{
  background: linear-gradient(black,white);
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 60px;
}

#intro{
  margin-top: 0px;
}

#introname{
  background: yellow;
  height: 650px;
  margin-top: -10px;
  padding-top: 10px;
 /* background-image: url(../埋め込み用/back.jpg);*/
 background-image: url(../埋め込み用/back.jpg);
}

#sentence{
  background: red;

}

#sentence1{
  width: 500px;
  height: 500px;
  background: white;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
  /*background: rgba(151, 211, 229, 0.50);
  color: white;
  text-shadow: rgb(252, 105, 105) 2px 2px 0px, rgb(253, 99, 99) -2px 2px 0px, #000 2px -2px 0px, #000 -2px -2px 0px;*/
}

.p1{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  
}

.icon{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: block;
  border:5px solid rgb(0, 255, 200) ;
  
  margin-left: 700px;
  margin-top: -500px;
   transition: 0.5s;
}

.icon:hover{
  border: 7px solid red;
  box-shadow: 10px 10px 10px rgba(230, 206, 206, 0.5);
  transform: translateY(-10px);
}

h2 ,h3,h4{
  background: lightgreen;
  width: 400px;
  padding: 5px;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 25px;
}

#introname h2{
  margin-left: auto;
  margin-right: auto;
}

iframe{
  background: white;
  margin-top: 10px;
  margin-left: 10px;
}

#skills{
  background: blue;
  padding: 30px;
  height: 750px;

}

#skills h2{
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}

#sentence2{
  padding: 30px;
  background: yellow;
  height: 600px;
}


.tool{
  display: inline-block;
  vertical-align: top;
  max-width: 250px;
  max-height: 400px;
  margin-bottom: 30px;
  margin-right: 60px;
  padding-right: 20px;
  /*border-left: 2px solid black;
  border-right: 2px solid black;*/
  
}

.tool ul{
  margin-bottom: 10px;
}

.tool h3{
  width: 250px;
}

#main{
  margin-top: 0px;
  padding-top: 10px;
  background: linear-gradient(rgb(0, 70, 128),yellow);
}

#main h2,h3{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

iframe, #sentence3{
  display: inline-block;
  vertical-align: top;
}

#sentence3{
  max-width: 600px;
  height: 600px;
  background: aqua;
  margin-left: 10px;
  margin-top: 10px;
  word-wrap: break-word;
}

#sentence3 h4{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.eng{
  margin-left: 100px;
  margin-right: 100px;
}

/*sidebar*/

#sidebar{
  margin-top: -60px;
  position: fixed;
  width: 300px;
  height: 100%;
  background: khaki;
  margin-left: -300px;
  transition: 0.8s;
}

#sidebar #btn p{
  background: aqua;
  display: block;
  width: 30px;
  height: 10px;
  margin-top: 5px;
  
}

#btn{
  margin-top: 10px;
  margin-left: 350px;
  border: 2px solid darkblue;
  width: 30px;
  padding: 5px;
  transition: 1.0s;
}

.movebar{
  margin-left: 0px !important;
}

.btnx{
  transform: rotate(1080deg);
}